/* site.css */

/*
table.all-reqs th,
table.all-reqs td {
    font-size: 10px;
} */

.rem-row {
    margin-top: 20px;
}

#btn-submit {
    margin-left: 15px;
}

#input-currency {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.alertMessage {
    margin-top: 10px;
}

.fa-times-circle {
    color: red;
}

.fa-question-circle {
    color: gray;
}

.fa-check-circle {
    color: green;
}

.fix {
    text-align: center;
}

td i {
    display: inline;
}

