<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>this is the employee page</h1>
            <p>{{vm.nameParam}}</p>
            <p>{{vm.idParam}}</p>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" role="tab" aria-controls="home"
                aria-selected="true">All Reimbursements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Submit Reimbursement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Contact</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row rem-row">
                <div class="col-md-10 mx-auto">
                    <wait-cursor display-when="vm.isBusy"></wait-cursor>
                    <table ng-show="!vm.isBusy" class="table table-hover table-bordered all-reqs">
                        <thead>
                            <tr>
                                <th>Request Date</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Resolve Date</th>
                                <th>Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rem in vm.reimbursements | orderBy:'-remDate'">
                                <td>{{rem.remDate}}</td>
                                <td>{{rem.status}}</td>
                                <td>{{rem.amount | currency}}</td>
                                <td>{{rem.remDesc}}</td>
                                <td>{{rem.resDate}}</td>
                                <td>{{rem.manName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row rem-row">
                <div class="col-md-5 mx-auto">
                        <div id="errorMessage" class="alertMessage alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
                        <div id="successMessage" class="alertMessage alert alert-success" ng-show="vm.successMessage">{{vm.successMessage}}</div>
                        <wait-cursor display-when="vm.isBusy"></wait-cursor>
                    <form name="remForm">
                        <div class="form-group">
                            <label>Reimbursement Description</label>
                            <textarea class="form-control" ng-model="vm.submitDesc" placeholder="Text limited to 280 characters" rows="3" data-min-rows="3" maxlength="280" required
                                autofocus="" />
                        </div>
                        <label>Reimbursement Amount</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" min="0.01" step="0.01" id="input-currency" class="form-control" ng-model="vm.submitAmount" aria-label="Amount (to the nearest dollar)" required>
                            <button class="btn btn-primary" id="btn-submit" ng-click="vm.submitReimbursement()">Submit</button>    
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">edit</div>

    </div>
    
</div>