<div class="jumbotron jumbo">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Content here</p>
        </div>
    </div>
    <hr id="divider" />
    <div class="row">
        <div class="col-md-12">
            <h1 id="home-blog-header" class="text-center">Blog Posts</h1>
        </div>
    </div>
    <div class="row" ng-repeat="post in vm.blogPosts">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

</div>